<div class="container"
     fxLayout="row"
     fxLayout.sm="colummn"
     fxLayout.xs="colummn"
     fxlayoutAlign.gt-md="space-around ceter"
     fxLayoutGap="10px"
     fxLayoutGap.xs='40px'>
     <div fxFlex="40" [@visibility]="visibility" [@expand]>
       <mat-card *ngIf="dish" >
         <mat-card-header >
           <mat-card-title>
         <h3 *ngIf='dish'>{{dish.name|uppercase}}</h3>
           </mat-card-title>
         </mat-card-header>
         <img mat-card-image src="{{BaseURL + dish.image}}" alt={{dish.name}}>

         <mat-card-content *ngIf='dish'>
           <p>{{dish.description}}</p>
          </mat-card-content>

          <mat-card-actions>
            <button  mat-button [routerLink]="['/dishdetail',prev]">
            <span class="fa fa-chevron-right fa-lg"></span></button>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
            <button  mat-button [routerLink]="['/dishdetail',next]">
            <span class="fa fa-chevron-left fa-lg"></span></button>
          </mat-card-actions>
        </mat-card>
        <div [hidden]="dish || errMess">
          <mat-spinner></mat-spinner><h4>Loading...</h4>
        </div>
        <div fxFlex *ngIf="errMess">
          <h2>Error</h2>
          <h4>{{errMess}}</h4>
        </div>
      </div>


      <div fxFlex="40" [@visibility]="visibility" [@expand] >
        <mat-card *ngIf="dish" >
          <mat-card-header>
            <mat-card-title>
          <h3>COMMENTS</h3>
            </mat-card-title>
          </mat-card-header>

          <mat-card-content *ngFor='let commentDetails of dish.comments' >
            <p>
              <span style='font-size:15px'>{{commentDetails.comment}}</span><br>
              <span style='font-size:15px'>{{commentDetails.rating}}</span>&nbsp;Stars<br>
              <span style='font-size:15px'>{{commentDetails.author}}</span><span>&nbsp; {{commentDetails.date | date}}</span><br>
            </p>
           </mat-card-content>
        <p>{{author.value}}</p>
        <p *ngIf="author.value">{{matslider.value}}<span> stars</span></p>
        <p>{{comment.value}}</p>
           <mat-card-actions>
             <button mat-button (click)="goBack()">BACK</button>
             <button mat-button>LIKE</button>
             <button mat-button>SHARE</button>
           </mat-card-actions>
         </mat-card>
         <div [hidden]="dish">
           <mat-spinner></mat-spinner><h4>Loading...</h4>
         </div>
         <div class="container" flexlayout="column" fxLayoutGap="10px">

             <form  novalidate  [formGroup]="userComments" #cform="ngForm" (ngSubmit)="onSubmit()" >
           <div>
               <mat-form-field class="full-width" >
                 <input #author matInput type="text" formControlName="author" placeholder="Name" required>
                 <mat-error *ngIf="formErrors.author">{{formErrors.author}}</mat-error>
               </mat-form-field>
            <div>

               <mat-slider
               min="1" max="5"
               thumbLabel thickInterval="1"
               [displayWith]="formatLabel"
               formControlName="rating"
               #matslider>
                </mat-slider>

            </div>
            </div>
             <div>
               <mat-form-field  class ="full-width" >
                 <textarea #comment matInput  formControlName="comment" placeholder="Your comments"  rows="8" cols="80" required></textarea>
                 <mat-error *ngIf="formErrors.comment" >{{formErrors.comment}}</mat-error>
               </mat-form-field>
             </div>
             <button type="submit" mat-button
                     class="background-primary text-floral-white"
                     [disabled]="!userComments.valid">POST</button>
             </form>
         </div>


</div>

</div>
