<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px"
     [@expand] >

<mat-card *ngIf="dish" fxFlex [@expand]="expand">
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>
      <h3>{{dish.name | uppercase}}</h3>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{BaseURL + dish.image}}" alt={{dish.name}}>
  <mat-card-content>
    <p>{{dish.description}}
    </p>
  </mat-card-content>
</mat-card>
<div [hidden]="dish || dishErrMess">
  <mat-spinner></mat-spinner><h4>Loading...</h4>
</div>
<div fxFlex *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>

<mat-card *ngIf="promotion" fxFlex  [@expand]="expand">
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>
      <h3>{{promotion.name | uppercase}}</h3>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{BaseURL + promotion.image}}" alt={{promotion.name}}>
  <mat-card-content>
    <p>{{promotion.description}}
    </p>
  </mat-card-content>
</mat-card>
<div [hidden]="promotion">
  <mat-spinner></mat-spinner><h4>Loading...</h4>
</div>
<mat-card *ngIf="leadership" fxFlex [@expand]="expand">
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>
      <h3>{{leadership.name | uppercase}}</h3>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{BaseURL + leadership.image}}" alt={{leadership.name}}>
  <mat-card-content>
    <p>{{leadership.description}}
    </p>
  </mat-card-content>
</mat-card>
<div [hidden]="leadership">
  <mat-spinner></mat-spinner><h4>Loading...</h4>
</div>

</div>
